h1{
    color:deepskyblue;
}

/**{
    border:solid;
}*/


.header{
    background-color: rgb(241, 241, 241);
    display:flex;
    justify-content:space-between;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
    
}